<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
    <tr th:each="event : ${events}">
        <p>
            <a th:href="@{/pages/event/} + ${event.id}" th:text="${event.getEventName()}"/>
        </p>
    </tr>
</body>
</html>