<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Technology</title>
</head>
<body>
    <h2>Изображение:</h2>
    <p>
        <img th:src="@{/img/} + ${technology.logo}" width="300" height="300" alt="image"/>
    </p>
    <p>
        <h2>Название технологии: </h2>
        <span th:text="${technology.name}"></span>
    </p>
    <p>
        <h2>Описание технологии: </h2>
        <span th:text="${technology.description}"></span>
    </p>
    <p>
        <h2>Цель разработки технологии: </h2>
        <span th:text="${technology.developmentGoal}"></span>
    </p>
    <p>
        <h2>Стадия разработки: </h2>
        <span th:text="${technology.stage}"></span>
    </p>
    <p>
        <h2>Вовлечены ли иностранные партнеры: </h2>
        <span th:text="${technology.areForeignersInvolved}"></span>
    </p>
    <p>
        <h2>Финансирование: </h2>
        <span th:text="${technology.financiation}"></span>
    </p>
    <p>
        <h2>Авторский состав: </h2>
        <p>
            <ul>
                <li th:each="author : ${technology.authors}" th:text="${author}"/>
            </ul>
        </p>
    </p>
    <p>
        <h2>Ссылки на публикации: </h2>
        <p>
            <p th:each="publication : ${technology.publications}">
                <a th:href="${publication}" th:text="${publication}"/>
            </p>
        </p>
    </p>
</body>
</html>