<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Technologies</title>
</head>
<body>
    <tr th:each="technology : ${technologies}">
        <p>
            <h2>Технология:</h2>
            <p>
                <a th:href="@{/pages/technology/} + ${technology.id}" th:text="${technology.name}"/>
            </p>
            <h2>Изображение:</h2>
            <p>
                <img th:src="@{/img/} + ${technology.image}" width="300" height="300" alt="image"/>
            </p>
        </p>
    </tr>
</body>
</html>