<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Thematics</title>
</head>
<body>
    <tr th:each="thematic : ${thematics}">
        <p>
            <a th:href="@{/pages/event/} + ${event.id} + @{/thematic/} + ${thematic}" th:text="${thematic}"/>
        </p>
    </tr>
</body>
</html>